<div class="panel-login panel panel-default">
  <div class="panel-body">
    <h2 class="text-center">Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group"><%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, :class => "form-control" %></div>

        <div class="form-group"><%= f.label :password %> <% if @validatable %>
              <i>(<%= @minimum_password_length %> characters minimum)</i><% end %><br />
          <%= f.password_field :password, autocomplete: "off", :class => "form-control" %></div>

        <div class="form-group"><%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control" %></div>

        <div><%= f.submit "Sign up", :class => "btn btn-block btn-success" %></div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
