<div class="row">
    <div class="col-md-12">
        <h1>{{ 'Courses' }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-12">
                        <span class="pull-left">
                            <span class="">
                                {{'Total'}}: {{ courses.length }}
                            </span>
                        </span>
                        <span class="pull-right">
                            <button ng-click="addNewCourse()" class="btn btn-xs btn-default">
                                {{ "Add group" }}
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>{{ 'Title' }}</th>
                        <th>{{ 'Description' }}</th>
                        <th>{{ "Date" }}</th>
                        <th>{{ "Enroll to" }}</th>
                        <th>{{ "Price" }}</th>
                        <th>{{ "Status" }}</th>
                        <th>{{ 'Action' }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="course in courses">
                        <td>
                            <a href="/admin/#/course/{{ course.id }}">{{ course.title }}</a>
                        </td>
                        <td>{{ course.description }}</td>
                        <td>{{ course.startDate | date: "d-M-yyyy"}} - {{ course.endDate | date: "d-M-yyyy" }}</td>
                        <td>{{ course.enrollTo }}</td>
                        <td>{{ course.price }}</td>
                        <td>
                            <span class="label label-primary" ng-show="course.status == EVENT_CONSTANTS.STATUS_ACTIVE">
                                {{ "Active" }}
                            </span>
                            <span class="label label-warning" ng-show="course.status == EVENT_CONSTANTS.STATUS_ARCHIVE">
                                {{ "Archive" }}
                            </span>
                            <span class="label label-success" ng-show="course.status == EVENT_CONSTANTS.STATUS_FINISHED_SUCCESS">
                                {{ "Finished" }}
                            </span>
                            <span class="label label-danger" ng-show="course.status == EVENT_CONSTANTS.STATUS_REJECTED">
                                {{ "Rejected" }}
                            </span>
                            <span class="label label-danger" ng-show="course.status == EVENT_CONSTANTS.STATUS_CANCELED">
                                {{ "Canceled" }}
                            </span>
                        </td>
                        <td>
                            <button class="btn btn-xs btn-warning" ng-show="course.status != GROUP_CONSTANTS.STATUS_ARCHIVE && course.status != GROUP_CONSTANTS.STATUS_FINISHED_SUCCESS" type="button" ng-click="ArchiveCourse(course)">{{ "To Archive" }}</button>
                            <button class="btn btn-xs btn-success" ng-show="course.status != GROUP_CONSTANTS.STATUS_CANCELED && course.status != GROUP_CONSTANTS.STATUS_FINISHED_SUCCESS && course.status != GROUP_CONSTANTS.STATUS_ACTIVE" type="button" ng-click="ActivateCourse(course)">{{ "Activate" }}</button>
                            <div class="pull-right">
                                <button class="btn btn-primary btn-xs" type="button" ng-click="EditCourse(course)">{{ "Edit" }}</button>
                                <button class="btn btn-danger btn-xs" type="button" ng-click="RemoveCourse(course)">{{ "Remove" }}</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
