<div class="modal-header">
    <h3 class="modal-title">
        {{ 'Course Form' }}
    </h3>
</div>
<form required name="homework_form">
    <div class="modal-body">
        <form name="createEventForm" action="#" method="post">
            <div class="form-group">
                <label for="title">{{ "Title" }}</label>
                <input class="form-control" type="text" ng-model="course.title" id="title"/>
            </div>
            <div class="form-group">
                <label for="description">{{ "Description" }}</label>
                <textarea class="form-control" type="text" ng-model="course.description" id="description"></textarea>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="event-date">{{ "Start Date" | translate }}</label>
                        <div class="input-group">
                            <input readonly id="event-date" placeholder="From" type="text" class="form-control" datepicker-popup="dd-MM-yyyy" ng-model="course.startDate" is-open="openedFrom" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                            <span class="input-group-btn">
                              <button type="button" class="btn btn-default" ng-click="openFrom($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="event-date">{{ "End Date" | translate }}</label>
                        <div class="input-group">
                            <input readonly id="event-date" placeholder="To" type="text" class="form-control" datepicker-popup="dd-MM-yyyy" ng-model="course.endDate" is-open="openedTo" min-date="course.startDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                <span class="input-group-btn">
                                  <button type="button" class="btn btn-default" ng-click="openTo($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="enroll-date">{{ "Enroll To" | translate }}</label>
                <div class="input-group">
                    <input readonly id="endoll-date" placeholder="Enroll To" type="text" class="form-control" datepicker-popup="dd-MM-yyyy" ng-model="course.enrollTo" is-open="openedEnroll" min-date="course.startDate" max-date="course.endDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="openEnroll($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="price">{{ "Price" | translate }}</label>
                <input type="number" id='price' min="0" ng-model="course.price" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="status">{{ "Status" | translate }}</label>
                <select class="form-control" id="status" ng-model="course.status" ng-options="status as status | capitalize for status in statuses">
                    <option value="" disabled selected>Chose status</option>
                </select>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="saveCourse(course)">{{ "Save" }}</button>
        <button class="btn btn-danger" type="button" ng-click="cancel()">{{ "Cancel" }}</button>
    </div>
</form>
