<div class="modal-header">
    <h3 class="modal-title">
        {{ 'Create Info' }}
    </h3>
</div>
<form required name="event_form">
    <div class="modal-body">
        <div class="form-group">
            <div class="radio">
                <label>
                    <input type="radio" ng-required="true" name="event_type" ng-model="event.type" id="event_lesson" value="{{ EVENT_CONSTANTS.LESSON_TYPE }}" checked>
                    {{ "Lesson" }}
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" ng-required="true" name="event_type" ng-model="event.type" id="lesson_type" value="{{ EVENT_CONSTANTS.EVENT_TYPE }}">
                    {{ "Personal event" }}
                </label>
            </div>
        </div>
        <div ng-show="event.type == EVENT_CONSTANTS.LESSON_TYPE">
            <div class="form-group">
                <label for="title">{{ "Title" }}*</label>
                <input id="title" ng-required="true" ng-model="event.title" class="form-control" type="text"/>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="description">{{ "Description" }}*</label>
                        <textarea ng-required="true" name="description" ng-model="event.description" id="description" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="teacher">{{ "Group" }}*</label>
                        <br/>
                        <ui-select ng-required="true" id="teacher" class="form-control" ng-model="event.group" theme="select2">
                            <ui-select-match placeholder="Select a group in the list or search by name...">{{$select.selected.title}}</ui-select-match>
                            <ui-select-choices repeat="group in lessonsData.groups">
                                <div ng-bind-html="group.title"></div>
                                <small>
                                    {{ "Name" }}: {{ group.title }}
                                </small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="event-date">{{ "Date" | translate }}*</label>
                        <div class="input-group">
                            <input ng-required="true" id="event-date" placeholder="To" type="text" class="form-control" datepicker-popup="dd-MM-yyyy" ng-model="event.date" is-open="openedTo" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                            <span class="input-group-btn">
                              <button type="button" class="btn btn-default" ng-click="openTo($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="start_time">{{ "Start time" }}*</label>
                                <timepicker ng-required="true" id="start_time" ng-model="event.start" show-meridian="false"></timepicker>
                            </div>
                            <div class="col-md-6">
                                <label for="end_time">{{ "End time" }}*</label>
                                <timepicker ng-required="true" id="end_time" ng-model="event.end" show-meridian="false"></timepicker>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="event.type == EVENT_CONSTANTS.EVENT_TYPE">
            <div class="form-group">
                <label for="event_title">{{ "Title" }}*</label>
                <input ng-required="true" id="event_title" ng-model="event.title" class="form-control" type="text"/>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="event_description">{{ "Description" }}*</label>
                        <textarea ng-required="true" style="height: 150px;" id="event_description" ng-model="event.description" class="form-control"></textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="event-date">{{ "Date" | translate }}*</label>
                        <div class="input-group">
                            <input ng-required="true" id="event-date" placeholder="To" type="text" class="form-control" datepicker-popup="dd-MM-yyyy" ng-model="event.date" is-open="openedTo" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                            <span class="input-group-btn">
                              <button type="button" class="btn btn-default" ng-click="openTo($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="start_time">{{ "Start time" }}*</label>
                                <timepicker ng-required="true" id="start_time" ng-model="event.start" show-meridian="false"></timepicker>
                            </div>
                            <div class="col-md-6">
                                <label for="end_time">{{ "End time" }}*</label>
                                <timepicker ng-required="true" id="end_time" ng-model="event.end" show-meridian="false"></timepicker>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-click="saveEvent(event)">Save</button>
        <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
    </div>
</form>
