<div class="modal-header">
    <h3 class="modal-title">
        {{ 'Event info' }}
    </h3>
</div>
<form required name="homework_form">
    <div class="modal-body">
        <table class="table table-bordered table-hover">
            <tr>
                <th>{{ "Title" }}</th>
                <td>{{ event.title }}</td>
            </tr>
            <tr>
                <th>{{ "Date" }}</th>
                <td>{{ event.date }}</td>
            </tr>
            <tr>
                <th>{{ "Time" | translate}}</th>
                <td>{{ event.start | date:"H:mm" }} - {{ event.end | date: "H:mm" }}</td>
            </tr>
            <tr ng-show="event.type == EVENT_CONSTANTS.EVENT_TYPE">
                <th>{{ "Description" }}</th>
                <td>{{ event.description }}</td>
            </tr>
            <tr ng-show="event.type == EVENT_CONSTANTS.LESSON_TYPE">
                <th>
                    {{ "Group" | translate }}
                </th>
                <td>
                    <a href="/admin/#/group/{{ event.group_id }}">
                        {{ event.group_title }}
                    </a>
                </td>
            </tr>
            <tr ng-show="event.type == EVENT_CONSTANTS.LESSON_TYPE">
                <th>
                    {{ "Status" | translate }}
                </th>
                <td>
                    <span class="label label-primary" ng-show="event.status == EVENT_CONSTANTS.STATUS_ACTIVE">
                        {{ "Active" }}
                    </span>
                    <span class="label label-warning" ng-show="event.status == EVENT_CONSTANTS.STATUS_ARCHIVE">
                        {{ "Archive" }}
                    </span>
                    <span class="label label-success" ng-show="event.status == EVENT_CONSTANTS.STATUS_FINISHED_SUCCESS">
                        {{ "Finished" }}
                    </span>
                    <span class="label label-danger" ng-show="event.status == EVENT_CONSTANTS.STATUS_CANCELED || event.status == EVENT_CONSTANTS.STATUS_REJECTED">
                        {{ "Rejected" }}
                    </span>
                </td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <div class="pull-left">
            <button class="btn btn-danger" type="button" ng-click="RemoveEvent(event)">{{ "Remove" }}</button>
        </div>
        <button class="btn btn-danger" ng-show="event.status == EVENT_CONSTANTS.STATUS_ACTIVE && event.status != EVENT_CONSTANTS.STATUS_FINISHED_SUCCESS" type="button" ng-click="RejectEvent(event)">{{ "Reject" }}</button>
        <button class="btn btn-warning" ng-show="event.status != EVENT_CONSTANTS.STATUS_ARCHIVE && event.status != EVENT_CONSTANTS.STATUS_FINISHED_SUCCESS" type="button" ng-click="ArchiveEvent(event)">{{ "To Archive" }}</button>
        <button class="btn btn-success" ng-show="event.status != EVENT_CONSTANTS.STATUS_CANCELED && event.status != EVENT_CONSTANTS.STATUS_FINISHED_SUCCESS" type="button" ng-click="ActivateEvent(event)">{{ "Activate" }}</button>
        <button class="btn btn-primary" type="button" ng-click="cancel()">Cancel</button>
    </div>
</form>
