<div class="modal-header">
    <h3 class="modal-title">
        {{ 'Create group' }}
    </h3>
</div>
<form required name="homework_form">
    <div class="modal-body">
        <form name="group-form" ng-required>
            <div class="form-group">
                <label for="title">{{ "Title" | translate }}</label>
                <input id="title" ng-required ng-model="group.title" type="text" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="teacher">{{ "Teacher" }}</label>
                <select class="form-control" id="teacher" ng-model="group.teacher_id" ng-options="teacher.id as teacher.name for teacher in data.teachers">
                    <option value="" disabled chosen>{{ 'Chose teacher' }}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="course">{{ "Course" }}</label>
                <select class="form-control" id="teacher" ng-model="group.course_id" ng-options="course.id as course.title for course in data.courses">
                    <option value="" disabled chosen>{{ 'Chose course' }}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="rate">{{ "Rate" }}</label>
                <input id="rate" class="form-control" type="number" ng-model="group.rate" min="0"/>
            </div>
            <div class="form-group">
                <label for="language">{{ "Language" }}</label>
                <select class="form-control" id="language" ng-model="group.language_id" ng-options="language.id as language.title for language in data.languages">
                    <option value="" disabled chosen>{{ 'Chose language' }}</option>
                </select>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3 style="margin-top:0;">{{ "Students" }}</h3>
                </div>
                <div class="col-md-6">
                    <div class="pull-right">
                        <button ng-click="addStudentField()" class="btn btn-success btn-xs">
                            {{ "Add student" }}
                        </button>
                    </div>
                </div>
            </div>
            <div ng-show="group.students.length > 0" class="form-group" ng-repeat="student in group.students track by $index">
                <div class="input-group">
                    <select class="form-control" id="student-{{ $index }}" ng-model="group.students[$index]" ng-options="student.id as student.name for student in data.students">
                        <option value="" disabled chosen>{{ 'Chose student' }}</option>
                    </select>
                    <span class="input-group-btn">
                      <button class="btn btn-default btn-danger" ng-click="RemoveStudent($index)" type="button">
                          <i class="glyphicon glyphicon-remove"></i>
                      </button>
                    </span>
                </div>
            </div>
            <div ng-show="group.students.length <= 0" class="alert alert-warning">
                <p>
                    {{ "No students yet" }}
                </p>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="SaveGroup(group)">{{ "Save" }}</button>
        <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
    </div>
</form>
