<div class="row">
    <div class="col-md-12">
        <h1>{{ 'Groups' }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-12">
                        <span class="pull-left">
                            <span class="">
                                {{'Total'}}: {{ groups.length }}
                            </span>
                        </span>
                        <span class="pull-right">
                            <button ng-click="addNewGroup()" class="btn btn-xs btn-default">
                                {{ "Add group" }}
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>{{ 'Name' }}</th>
                    <th>{{ 'Language' }}</th>
                    <th>{{ 'Teacher' }}</th>
                    <th>{{ 'Course' }}</th>
                    <th>{{ 'Created at' }}</th>
                    <th>{{ 'Students in group' }}</th>
                    <th>{{ 'Status' }}</th>
                    <th>{{ 'Action' }}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="group in groups">
                    <td>
                        <a href="/admin/#/group/{{ group.id }}">{{ group.title }}</a>
                    </td>
                    <td>
                        {{ group.language }}
                    </td>
                    <td>{{ group.teacher_name }}</td>
                    <td>{{ group.course_title }}</td>
                    <td>{{ group.created_at | date: "d-M-yyyy" }}</td>
                    <td>{{ group.students_count }}</td>
                    <td>
                        <span class="label group-{{ group.status }}">
                            {{ group.status | capitalize}}
                        </span>
                    </td>
                    <td>
                        <button class="btn btn-xs btn-warning" ng-show="group.status != GROUP_CONSTANTS.STATUS_ARCHIVE && group.status != GROUP_CONSTANTS.STATUS_FINISHED_SUCCESS" type="button" ng-click="ArchiveGroup(group)">{{ "To Archive" }}</button>
                        <button class="btn btn-xs btn-success" ng-show="group.status != GROUP_CONSTANTS.STATUS_CANCELED && group.status != GROUP_CONSTANTS.STATUS_FINISHED_SUCCESS && group.status != GROUP_CONSTANTS.STATUS_ACTIVE" type="button" ng-click="ActivateGroup(group)">{{ "Activate" }}</button>
                        <div class="pull-right">
                            <button class="btn btn-danger btn-xs" type="button" ng-click="RemoveGroup(group)">{{ "Remove" }}</button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
