<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                {{ "Events today" }}
                <div class="pull-right">
                    <button ng-click="createEvent()" class="btn btn-default btn-xs">{{ "Add event" }}</button>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th>{{ "Title" }}</th>
                        <th>{{ "Group" }}</th>
                        <th>{{ "Time" }}</th>
                        <th>{{ "Status" }}</th>
                        <th>{{ "Action" }}</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="evnt in eventsToday.events | orderBy: 'start'">
                            <td>{{ evnt.title }}</td>
                            <td>{{ evnt.group_title }}</td>
                            <td>{{ evnt.start | date: "H:mm" }} - {{ evnt.end | date: "H:mm" }}</td>
                            <td>
                                <span class="label label-primary" ng-show="evnt.status == EVENT_CONSTANTS.STATUS_ACTIVE">
                                    {{ "Active" }}
                                </span>
                                <span class="label label-warning" ng-show="evnt.status == EVENT_CONSTANTS.STATUS_ARCHIVE">
                                    {{ "Archive" }}
                                </span>
                                <span class="label label-success" ng-show="evnt.status == EVENT_CONSTANTS.STATUS_FINISHED_SUCCESS">
                                    {{ "Finished" }}
                                </span>
                                <span class="label label-danger" ng-show="evnt.status == EVENT_CONSTANTS.STATUS_REJECTED">
                                    {{ "Rejected" }}
                                </span>
                                <span class="label label-danger" ng-show="evnt.status == EVENT_CONSTANTS.STATUS_CANCELED">
                                    {{ "Canceled" }}
                                </span>
                            </td>
                            <td>
                                <button class="btn btn-xs btn-danger" ng-show="evnt.status == EVENT_CONSTANTS.STATUS_ACTIVE && evnt.status != EVENT_CONSTANTS.STATUS_FINISHED_SUCCESS" type="button" ng-click="RejectEvent(evnt)">{{ "Reject" }}</button>
                                <button class="btn btn-xs btn-warning" ng-show="evnt.status != EVENT_CONSTANTS.STATUS_ARCHIVE && evnt.status != EVENT_CONSTANTS.STATUS_FINISHED_SUCCESS" type="button" ng-click="ArchiveEvent(evnt)">{{ "To Archive" }}</button>
                                <button class="btn btn-xs btn-success" ng-show="evnt.status != EVENT_CONSTANTS.STATUS_CANCELED && evnt.status != EVENT_CONSTANTS.STATUS_FINISHED_SUCCESS && evnt.status != EVENT_CONSTANTS.STATUS_ACTIVE" type="button" ng-click="ActivateEvent(evnt)">{{ "Activate" }}</button>
                                <div class="pull-right">
                                    <button class="btn btn-danger btn-xs" type="button" ng-click="RemoveEvent(evnt)">{{ "Remove" }}</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr/>
        <div ui-calendar="uiConfig.calendar" calendar="adminEventsCalendar" class="span8 calendar" ng-model="eventSources"></div>
    </div>
</div>