<div class="row">
    <div class="col-md-12">
        <h1>{{ 'Languages' | translate}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-12">
                        <span class="pull-left">
                            <span class="">
                                {{'Total'}}: {{ languages.length }}
                            </span>
                        </span>
                        <span class="pull-right">
                            <button ng-click="addNewLanguage()" class="btn btn-xs btn-default">
                                {{ "Add language" | translate}}
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>{{ 'Title' | translate }}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-if="languages.length > 0" ng-repeat="language in languages">
                    <td>
                       {{ language.title }}
                        <div class="pull-right">
                            <button class="btn btn-danger btn-xs" type="button" ng-click="RemoveLanguage(language)">{{ "Remove" }}</button>
                            <button ng-click="EditLanguage(language)" class="btn btn-xs btn-info">
                                {{ "Edit" | translate}}
                            </button>
                        </div>
                    </td>
                </tr>
                <tr ng-if="languages.length <= 0">
                    <td>
                        {{ "No languages yet!" }}
                        <div class="pull-right">
                            <button ng-click="addNewLanguage()" class="btn btn-xs btn-success">
                                {{ "Add language" | translate}}
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
