<div class="modal-header">
    <h3 class="modal-title">
        {{ 'Language Form' }}
    </h3>
</div>
<form required name="homework_form">
    <div class="modal-body">
        <form name="createEventForm" action="#" method="post">
            <div class="form-group">
                <label for="title">{{ "Title" }}</label>
                <input class="form-control" type="text" ng-model="language.title" id="title"/>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="saveLanguage(language)">{{ "Save" }}</button>
        <button class="btn btn-danger" type="button" ng-click="cancel()">{{ "Cancel" }}</button>
    </div>
</form>
