<ul class="nav nav-sidebar nav-pills nav-stacked">
    <li ng-class="{ active: isActive('/')}">
        <a href="#/">
            <span class="glyphicon glyphicon-home"></span>
            {{ 'Dashboard' | translate}}
        </a>
    </li>
    <li ng-class="{ active: isActive('/languages')}">
        <a href="#/languages">
            <span class="glyphicon glyphicon-flag"></span>
            {{ "Languages" | translate }}
        </a>
    </li>
    <li ng-class="{ active: isActive('/courses')}">
        <a href="#/courses">
            <span class="glyphicon glyphicon-tags"></span>
            {{ "Courses" | translate }}
        </a>
    </li>
    <li ng-class="{ active: isActive('/groups')}">
        <a href="#/groups">
            <span class="glyphicon glyphicon-star"></span>
            {{ 'Groups' | translate}}
        </a>
    </li>
    <li ng-class="{ active: isActive('/teachers')}">
        <a href="#/teachers">
            <span class="glyphicon glyphicon-briefcase"></span>
            {{ "Teachers" | translate}}
        </a>
    </li>
    <li ng-class="{ active: isActive('/students')}">
        <a href="#/students">
            <span class="glyphicon glyphicon-book"></span>
            {{ "Students" | translate}}
        </a>
    </li>
    <li ng-class="{ active: isActive('/timetable')}">
        <a href="#/timetable">
            <span class="glyphicon glyphicon-bell"></span>
            {{ "Timetable" | translate}}
        </a>
    </li>
    <li ng-class="{ active: isActive('/pays')}">
        <a href="#/pays">
            <span class="glyphicon glyphicon-credit-card"></span>
            {{ 'Pays' | translate}}
        </a>
    </li>
    <li ng-class="{ active: isActive('/salary')}">
        <a href="#/salary">
            <span class="glyphicon glyphicon-certificate"></span>
            Salaries
        </a>
    </li>
</ul>