<div class="modal-header">
    <h3 class="modal-title">
        {{ 'Teacher Form' }}
    </h3>
</div>
<form required name="teacher_form">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6" style="border-right: 1px solid #eee">
                <div class="form-group">
                    <label for="user-name">{{ "Name" }}*</label>
                    <small style="color: darkred;" class="pull-right" ng-show="teacher_form.name.$error.required">Required</small>
                    <input class="form-control" name="name" required ng-required="true" id="user-name" ng-model="teacher.user.name" type="text"/>
                </div>
                <div class="form-group">
                    <label for="user-login">{{ "Login" }}*</label>
                    <small style="color: darkred;" class="pull-right" ng-show="teacher_form.login.$error.required">Required</small>
                    <input class="form-control" name="logins" ng-required="true" id="user-login" ng-model="teacher.user.login" duplicate="logins" type="text"/>
                </div>
                <div class="form-group">
                    <label for="user-email">{{ "Email" }}*</label>
                    <small style="color: darkred;" class="pull-right" ng-show="teacher_form.email.$error.required">Required</small>
                    <input class="form-control" ng-required="true" name="email" id="user-email" duplicate="emails" ng-model="teacher.user.email" type="email"/>
                </div>
                <div class="form-group">
                    <label for="user-password">{{ "Password" }}*</label>
                    <small style="color: darkred;" class="pull-right" ng-show="teacher_form.password.$error.required">Required</small>
                    <input class="form-control" name="password" ng-required="true" id="user-password" ng-model="teacher.user.password" type="password"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="teacher-inn">{{ "Inn" | translate }}</label>
                    <small style="color: darkred;" class="pull-right" ng-show="teacher_form.inn.$error.required">Required</small>
                    <input id="teacher-inn" name="inn" required ng-required="true" ng-model="teacher.inn" type="text" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="teacher-inn">{{ "Passport no." | translate }}</label>
                    <small style="color: darkred;" class="pull-right" ng-show="teacher_form.passport.$error.required">Required</small>
                    <input id="teacher-inn" name="passport" required ng-required="true" ng-model="teacher.passport" type="text" class="form-control"/>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="submit" ng-click="SaveTeacher(teacher)">{{ "Save" }}</button>
        <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
    </div>
</form>
