<div class="row">
    <div class="col-md-12">
        <h1>{{ 'Teachers' }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-12">
                        <span class="pull-left">
                            <span class="">
                                {{'Total'}}: {{ teachers.length }}
                            </span>
                        </span>
                        <span class="pull-right">
                            <button ng-click="addNewTeacher()" class="btn btn-xs btn-default">
                                {{ "Add teacher" }}
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>{{ 'Id' }}</th>
                        <th>{{ 'Name' }}</th>
                        <th>{{ 'Email' }}</th>
                        <th>{{ 'Login' }}</th>
                        <th>{{ 'Created At' }}</th>
                        <th>{{ 'Last Login' }}</th>
                        <th>{{ 'Status' }}</th>
                        <th>{{ 'Action' }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="teacher in teachers">
                        <td>{{ $index + 1 }}</td>
                        <td>{{ teacher.name }}</td>
                        <td>{{ teacher.email }}</td>
                        <td>{{ teacher.login }}</td>
                        <td>{{ teacher.createdAt | date:"d-M-yyyy"}}</td>
                        <td>{{ teacher.lastLogin | date:"d-M-yyyy"}}</td>
                        <td>
                            <span class="group-{{ teacher.status }}">
                                {{ teacher.status | capitalize }}
                            </span>
                        </td>
                        <td>
                            <button class="btn btn-xs btn-warning" ng-show="teacher.status != GROUP_CONSTANTS.STATUS_ARCHIVE && teacher.status != GROUP_CONSTANTS.STATUS_FINISHED_SUCCESS" type="button" ng-click="ArchiveTeacher(teacher)">{{ "To Archive" }}</button>
                            <button class="btn btn-xs btn-success" ng-show="teacher.status != GROUP_CONSTANTS.STATUS_CANCELED && teacher.status != GROUP_CONSTANTS.STATUS_FINISHED_SUCCESS && teacher.status != GROUP_CONSTANTS.STATUS_ACTIVE" type="button" ng-click="ActivateTeacher(teacher)">{{ "Activate" }}</button>
                            <div class="pull-right">
                                <button class="btn btn-danger btn-xs" type="button" ng-click="RemoveTeacher(teacher)">{{ "Remove" }}</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
