<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Project name</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li ng-class="{ active: isActive('/')}">
          <a href="#/">
            <span class="glyphicon glyphicon-home"></span>
            Dashboard
          </a>
        </li>
        <li ng-class="{ active: isActive('/groups')}">
          <a href="#/groups">
            <span class="glyphicon glyphicon-star"></span>
            Groups
          </a>
        </li>
        <li ng-class="{ active: isActive('/timetable')}">
          <a href="#/timetable">
            <span class="glyphicon glyphicon-bell"></span>
            Timetable
          </a>
        </li>
        <li ng-class="{ active: isActive('/salary')}">
          <a href="#/salary">
            <span class="glyphicon glyphicon-certificate"></span>
            Salaries
          </a>
        </li>
        <li>
          <a href="/users/sign_out">
            <span class="glyphicon glyphicon-share-alt"></span>
            Sign out
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>