<ul class="nav nav-sidebar nav-pills nav-stacked">
    <li ng-class="{ active: isActive('/')}">
        <a href="#/">
            <span class="glyphicon glyphicon-home"></span>
            Dashboard
        </a>
    </li>
    <li ng-class="{ active: isActive('/groups')}">
        <a href="#/groups">
            <span class="glyphicon glyphicon-star"></span>
            Groups
        </a>
    </li>
    <li ng-class="{ active: isActive('/timetable')}">
        <a href="#/timetable">
            <span class="glyphicon glyphicon-bell"></span>
            Timetable
        </a>
    </li>
    <li ng-class="{ active: isActive('/salary')}">
        <a href="#/salary">
            <span class="glyphicon glyphicon-certificate"></span>
            Salaries
        </a>
    </li>
</ul>