<div class="modal-header">
    <h3 class="modal-title">
        {{ 'Create homework' }}
    </h3>
</div>
<form required name="homework_form">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="title">{{ 'Title' }}<sup>*</sup></label>
                    <input type="text" id="title" class="form-control" ng-required="true" placeholder="Title for homework" ng-model="homework.title"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="date">{{ 'Due Date' }}<sup>*</sup></label>
                    <div class="input-group">
                        <input readonly placeholder="From" type="text" class="form-control" datepicker-popup="dd-MM-yyyy" ng-model="homework.date" is-open="openedFrom" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="openCalendar($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="group-select">{{ 'Group' }}<sup>*</sup></label>
                    <select id="group-select" ng-model="homework.group_id" class="form-control" ng-required="true" placeholder="Select group" ng-options="group.id as group.title for group in groups">
                        <option value="" disabled chosen>{{ 'Chose group' }}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="status-select">{{ 'Status' }}<sup>*</sup></label>
                    <select id="status-select" ng-model="homework.status" class="form-control" ng-required="true" placeholder="Select status" ng-options="status as (status) | capitalize for status in statuses">
                        <option value="" disabled chosen>{{ 'Chose status' }}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="description">{{ 'Description' }}<sup>*</sup></label>
                    <textarea ng-required="true" style="max-width: 100%; width: 100%; height: 250px;" class="form-control" id="description" ng-model="homework.description"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-click="saveHomework()" type="submit" class="btn btn-success">{{ 'Save' }}</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</form>
