<div class="row">
    <div class="col-md-12">
        <h1>{{ 'Salaries' }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <solo-table items-on-page="20" make-sortable>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="input-group input-group-sm">
                                <input readonly placeholder="From" type="text" class="form-control input-sm" datepicker-popup="dd-MM-yyyy" ng-model="startDateModel" is-open="openedFrom" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                <span class="input-group-btn">
                                  <button type="button" class="btn btn-default" ng-click="openFrom($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group input-group-sm">
                                <input readonly placeholder="To" type="text" class="form-control input-sm" datepicker-popup="dd-MM-yyyy" ng-model="endDateModel" is-open="openedTo" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                <span class="input-group-btn">
                                  <button type="button" class="btn btn-default" ng-click="openTo($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-4 pull-right">
                            <div class="row">
                                <div class="col-md-6">
                                    <input class="form-control input-sm" placeholder="From" type="number" ng-model="sum_from" min="0"/>
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control input-sm" placeholder="To" type="number" ng-model="sum_to" min="0"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>{{ 'Name' }}</th>
                            <th>{{ 'Sum' }}</th>
                            <th>{{ 'Date' }}</th>
                            <th>{{ 'Type' }}</th>
                            <th>{{ 'Group' }}</th>
                            <th>{{ 'Number of lessons' }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="salary in filtered = (salaries | dateRange: startDateModel:endDateModel | numRange: sum_from:sum_to)">
                            <td>{{ salary.person_name }}</td>
                            <td>{{ salary.sum }}</td>
                            <td>{{ salary.date | date: "d-M-yyyy" }}</td>
                            <td>{{ salary.type }}</td>
                            <td>{{ salary.group_title }}</td>
                            <td>{{ salary.lessons_num }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </solo-table>
        <div class="pull-right">
            <a href="" class="btn btn-default" ng-click="gotoFirstPage()">First page</a>
            <a href="" class="btn btn-default" ng-click="gotoPrevPage()"> &larr;prev</a>
            <a href="" class="btn btn-default" ng-click="gotoNextPage()">next &rarr;</a>
            <a href="" class="btn btn-default" ng-click="gotoLastPage()">Last page</a>
        </div>
    </div>
</div>