<h1 class="header">{{ 'Timetable' }}</h1>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="panel-title">Monday</span>
                <span class="badge">{{ days.monday.lessons.length || 0 }}</span>
            </div>
            <table class="table table-bordered table-striped table-hovered" ng-show="days.monday">
                <thead>
                    <tr>
                        <th>{{ 'Group' }}</th>
                        <th>{{ 'Time' }}</th>
                        <th>{{ 'Language' }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="lesson in days.monday.lessons | orderBy:'start'">
                        <td><a href="/teacher/#/group/{{ lesson.group.id }}">{{ lesson.group.title }}</a></td>
                        <td>{{ lesson.start | date:'H:m' }} - {{ lesson.end |  date:'H:m' }}</td>
                        <td>{{ lesson.language.title }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="alert-thin alert-primary" ng-hide="days.monday">
                {{ 'No lessons today' }}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="panel-title">Tuesday</span>
                <span class="badge">{{ days.tuesday.lessons.length || 0 }}</span>
            </div>
            <table class="table table-bordered table-striped table-hovered" ng-show="days.tuesday">
                <thead>
                    <tr>
                        <th>{{ 'Group' }}</th>
                        <th>{{ 'Time' }}</th>
                        <th>{{ 'Language' }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="lesson in days.tuesday.lessons | orderBy:'start'">
                        <td><a href="/teacher/#/group/{{ lesson.group.id }}">{{ lesson.group.title }}</a></td>
                        <td>{{ lesson.start | date:'H:m' }} - {{ lesson.end |  date:'H:m' }}</td>
                        <td>{{ lesson.language.title }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="alert-thin alert-primary" ng-hide="days.tuesday">
                {{ 'No lessons today' }}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="panel-title">Wednesday</span>
                <span class="badge">{{ days.wednesday.lessons.length || 0 }}</span>
            </div>
            <table class="table table-bordered table-striped table-hovered" ng-show="days.wednesday">
                <thead>
                    <tr>
                        <th>{{'Group'}}</th>
                        <th>{{ 'Time' }}</th>
                        <th>{{ 'Language' }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="lesson in days.wednesday.lessons | orderBy:'start'">
                        <td><a href="/teacher/#/group/{{ lesson.group.id }}">{{ lesson.group.title }}</a></td>
                        <td>{{ lesson.start | date:'H:m' }} - {{ lesson.end |  date:'H:m' }}</td>
                        <td>{{ lesson.language.title }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="alert-thin alert-primary" ng-hide="days.wednesday">
                {{ 'No lessons today' }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="panel-title">Thursday</span>
                <span class="badge">{{ days.thursday.lessons.length || 0 }}</span>
            </div>
            <table class="table table-bordered table-striped table-hovered" ng-show="days.thursday">
                <thead>
                    <tr>
                        <th>{{ 'Group'}} </th>
                        <th>{{ 'Time' }}</th>
                        <th>{{ 'Language' }}</th>
                    </tr>
                </thead>
                <tbody>
                <tr ng-repeat="lesson in days.thursday.lessons | orderBy:'start'">
                    <td>{{ lesson.start | date:'H:m' }} - {{ lesson.end |  date:'H:m' }}</td>
                    <td><a href="/teacher/#/group/{{ lesson.group.id }}">{{ lesson.group.title }}</a></td>
                    <td>{{ lesson.language.title }}</td>
                </tr>
                </tbody>
            </table>
            <div class="alert-thin alert-primary" ng-hide="days.thursday">
                {{ 'No lessons today' }}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="panel-title">Friday</span>
                <span class="badge">{{ days.friday.lessons.length || 0 }}</span>
            </div>
            <table class="table table-bordered table-striped table-hovered" ng-show="days.friday">
                <thead>
                    <tr>
                        <th>{{ 'Group' }}</th>
                        <th>{{ 'Time' }}</th>
                        <th>{{ 'Language' }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="lesson in days.friday.lessons | orderBy:'start'">
                        <td><a href="/teacher/#/group/{{ lesson.group.id }}">{{ lesson.group.title }}</a></td>
                        <td>{{ lesson.start | date:'H:m' }} - {{ lesson.end |  date:'H:m' }}</td>
                        <td>{{ lesson.language.title }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="alert-thin alert-primary" ng-hide="days.friday">
                {{ 'No lessons today' }}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="panel-title">Saturday</span>
                <span class="badge">{{ days.saturday.lessons.length || 0 }}</span>
            </div>
            <table class="table table-bordered table-striped table-hovered" ng-show="days.saturday">
                <thead>
                <tr>
                    <th>{{'Group'}}</th>
                    <th>{{ 'Time' }}</th>
                    <th>{{ 'Language' }}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="lesson in days.saturday.lessons | orderBy:'start'">
                    <td><a href="/teacher/#/group/{{ lesson.group.id }}">{{ lesson.group.title }}</a></td>
                    <td>{{ lesson.start | date:'H:m' }} - {{ lesson.end |  date:"H:mm" }}</td>
                    <td>{{ lesson.language.title }}</td>
                </tr>
                </tbody>
            </table>
            <div class="alert-thin alert-primary" ng-hide="days.saturday">
                {{ 'No lessons today' }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="panel-title">Sunday</span>
                <span class="badge">{{ days.sunday.lessons.length || 0 }}</span>
            </div>
            <table class="table table-bordered table-striped table-hovered" ng-show="days.sunday">
                <thead>
                    <tr>
                        <th>{{ 'Group' }}</th>
                        <th>{{ 'Time' }}</th>
                        <th>{{ 'Language' }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="lesson in days.sunday.lessons | orderBy:'start' ">
                        <td><a href="/teacher/#/group/{{ lesson.group.id }}">{{ lesson.group.title }}</a></td>
                        <td>{{ lesson.start | date:'H:m' }} - {{ lesson.end |  date:'H:m' }}</td>
                        <td>{{ lesson.language.title }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="alert-thin alert-primary" ng-hide="days.sunday">
                {{ 'No lessons today' }}
            </div>
        </div>
    </div>
</div>