<div class="row">
    <div class="col-md-12">
        <h1>{{ 'Groups' }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-12">
                        <span class="pull-left">
                            <span class="">
                                {{'Total'}}: {{ groups.length }}
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>{{ 'Name' }}</th>
                        <th>{{ 'Language' }}</th>
                        <th>{{ 'Group status' }}</th>
                        <th>{{ 'Distribution status' }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="group in groups">
                        <td>
                            <a ng-href="/student/#/group/{{ group.id }}">{{ group.title }}</a>
                        </td>
                        <td>
                            {{ group.language }}
                        </td>
                        <td>
                            <span class="group-{{ group.group_status }}">
                                {{ group.group_status | capitalize | translate}}
                            </span>
                        </td>
                        <td>
                            <span class="group-{{ group.distribution_status }}">
                                {{ group.distribution_status | capitalize | translate}}
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
