<div class="row">
    <div class="col-md-12">
        <h1>
            {{ group.title }}
            <small>
                <span class="group-{{ group.current_distribution.status }}">
                    {{ group.current_distribution.status | capitalize | translate }}
                </span>
            </small>
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="panel-title">{{ 'Group info' }}</span>
            </div>
            <table class="table table-bordered table-striped table-hovered" ng-show="group.course">
                <tbody>
                <tr>
                    <th>{{ 'Name' }}</th>
                    <td>{{ group.title }}</td>
                </tr>
                <tr>
                    <th>{{ 'Curator' }}</th>
                    <td>{{ group.teacher }}</td>
                </tr>
                <tr>
                    <th>{{ 'Course' }}</th>
                    <td>{{ group.course.title }}</td>
                </tr>
                <tr>
                    <th>{{ 'Due Date' }}</th>
                    <td>{{ group.course.startDate }} - {{ group.course.endDate }}</td>
                </tr>
                <tr>
                    <th>{{ 'Group Status' }}</th>
                    <td><span class="group-{{ group.status }}">{{ group.status | capitalize}}</span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="panel-title">{{ 'Timetable' | translate }}</span>
                <span class="badge">{{ group.lessons.length || 0 }}</span>
            </div>
            <table class="table table-bordered table-striped table-hovered" ng-show="group.lessons">
                <thead>
                <tr>
                    <th>{{ 'Day' | translate}}</th>
                    <th>{{ 'Time' | translate}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="lesson in group.lessons | orderBy:'day_num' | orderBy:'startTime'">
                    <td>{{ lesson.day | capitalize }}</td>
                    <td>{{ lesson.startTime | date:'HH:mm' }} - {{ lesson.endTime |  date:"HH:mm" }}</td>
                </tr>
                </tbody>
            </table>
            <div class="alert-thin alert-primary" ng-hide="group.lessons">
                {{ 'No lessons today' }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-9">
                        <span class="panel-title">{{ 'Students' }}</span>
                        <span class="badge">{{ group.students.length || 0 }}</span>
                    </div>
                </div>
            </div>
            <table class="table table-bordered table-striped table-hovered" ng-show="group.students">
                <thead>
                    <tr>
                        <th>
                            {{ 'Name' }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat=" student in filtered = (group.students)">
                        <td>
                            {{ student.name }}
                            <span class="pull-right group-{{ student.status }}">{{ student.status | capitalize }}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="alert-thin alert-primary" ng-hide="group.students">
                {{ 'No students' }}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary table-responsive">
            <div class="panel-heading">
                {{ 'Homework' }} <span class="badge">{{ group.homeworks.length }}</span>
                <div class="pull-right">

                </div>
            </div>
            <div class="list-group homework-container" style="overflow-y: scroll; max-height: 300px; height: 300px;">
                <a ng-click="showHomeworkInfo(homework.id)" ng-repeat="homework in group.homeworks | orderBy:'date':true" class="list-group-item">
                    <h4 class="list-group-item-heading">
                        {{ homework.title }}
                    </h4>
                    <p class="list-group-item-text">
                        {{ homework.description | limitTo : 30}}
                        <br/>
                        <span class="status status-{{ homework.status }}">
                            {{ homework.status | capitalize }}
                        </span>
                        <span class="pull-right">
                            <span class="label label-info">{{ homework.date | date: 'd-M-yyyy' }}</span>
                        </span>
                    </p>
                </a>
            </div>
        </div>
    </div>
</div>
