<div class="modal-header">
    <h3 class="modal-title">
        {{ 'Homework info' }}
    </h3>
</div>
<form required name="homework_form">
    <div class="modal-body">
        <table class="table table-bordered table-hover">
            <tr>
                <th>{{ "Title" }}</th>
                <td>{{ homework.title }}</td>
            </tr>
            <tr>
                <th>{{ "Due Date" }}</th>
                <td>{{ homework.date }}</td>
            </tr>
            <tr>
                <th>{{ "Group" }}</th>
                <td>{{ homework.group }}</td>
            </tr>
            <tr>
                <th>{{ "Description" }}</th>
                <td>{{ homework.description }}</td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</form>
