<ul class="nav nav-sidebar nav-pills nav-stacked">
    <li ng-class="{ active: isActive('/')}">
        <a href="#/">
            <span class="glyphicon glyphicon-home"></span>
            {{ 'Dashboard' | translate}}
        </a>
    </li>
    <li ng-class="{ active: isActive('/groups')}">
        <a href="#/groups">
            <span class="glyphicon glyphicon-star"></span>
            {{ 'Groups' | translate}}
        </a>
    </li>
    <li ng-class="{ active: isActive('/timetable')}">
        <a href="#/timetable">
            <span class="glyphicon glyphicon-bell"></span>
            {{ "Timetable" | translate}}
        </a>
    </li>
    <li ng-class="{ active: isActive('/pays')}">
        <a href="#/pays">
            <span class="glyphicon glyphicon-credit-card"></span>
            {{ 'Pays' | translate}}
        </a>
    </li>
</ul>