<div class="panel panel-primary">
    <div class="panel-heading">
        <span class="panel-title">{{ day | translate | capitalize }}</span>
        <span class="badge">{{ lessons.length || 0 }}</span>
    </div>
    <table class="table table-bordered table-striped table-hovered" ng-show="lessons">
        <thead>
        <tr>
            <th>{{ 'Group' }}</th>
            <th>{{ 'Time' }}</th>
            <th>{{ 'Language' }}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="lesson in lessons | orderBy:'start'">
            <td><a href="/student/#/group/{{ lesson.group.id }}">{{ lesson.group.title }}</a></td>
            <td>{{ lesson.start | date:'H:m' }} - {{ lesson.end |  date:'H:m' }}</td>
            <td>{{ lesson.language.title }}</td>
        </tr>
        </tbody>
    </table>
    <div class="alert-thin alert-primary" ng-hide="lessons">
        {{ 'No lessons today' }}
    </div>
</div>