<h1 class="header">{{ 'Timetable' | translate }}</h1>
<div class="row">
    <div class="col-md-4">
        <day-lessons day="{{ DAYS.monday }}" lessons="days.monday.lessons"></day-lessons>
    </div>
    <div class="col-md-4">
        <day-lessons day="tuesday" lessons="days.tuesday.lessons"></day-lessons>
    </div>
    <div class="col-md-4">
        <day-lessons day="wednesday" lessons="days.wednesday.lessons"></day-lessons>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <day-lessons day="thursday" lessons="days.thursday.lessons"></day-lessons>
    </div>
    <div class="col-md-4">
        <day-lessons day="friday" lessons="days.friday.lessons"></day-lessons>
    </div>
    <div class="col-md-4">
        <day-lessons day="saturday" lessons="days.saturday.lessons"></day-lessons>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <day-lessons day="sunday" lessons="days.sunday.lessons"></day-lessons>
    </div>
</div>