/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * require_tree .
 *= require_self
 *= require angular-ui-utils/ui-select
 *= require fullcalendar/dist/fullcalendar
*/
@import "bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "isl/body";
@import "isl/wrap";
@import "select2";

@import "isl/calendar/calendar-event";
@import "isl/calendar/event-active";
@import "isl/calendar/event-archive";
@import "isl/calendar/event-canceled";
@import "isl/calendar/personal-event";
@import "isl/calendar/event-finished";

@import "isl/alert-thin";

@import "isl/group/group";
@import "isl/group/group-active";
@import "isl/group/group-archive";
@import "isl/group/group-finished";
@import "isl/group/group-blocked";

@import "isl/status/status";
@import "isl/status/status-active";
@import "isl/status/status-archive";
@import "isl/status/status-blocked";
@import "isl/status/status-finished";

@import "isl/form/form-invalid";
@import "isl/form/form-valid";

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    font-size: 15px !important;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #34495e;
    border-right: 1px solid #eee;
    ul {
      li {
        a {
          color: rgb(200, 200, 200);
        }
        &.active, a:hover {
          background: #2c3e50;
          box-shadow: inset 0px 0px 1px rgba(0,0,0,0.3);
          a {
            background: none;
          }
        }
      }
    }
  }
}
.navbar-fixed-top {
  background: url('/assets/bg.png') repeat fixed;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
  opacity: 1;
  a {
//    color: #2c3e50 !important;
    color: #ffffff !important;
    font-weight: bold;
  }
  a:hover {
    text-decoration: underline !important;
    color: #fff !important;
    opacity: 1;
  }
  li:hover, li.active {
    background: rgba(44, 62, 80, 0.24);
  }
  .navbar-header {
    .navbar-toggle {
      border: none !important;
      &:hover {
        box-shadow: inset 0px 3px 10px rgba(0,0,0,0.3);
        background: #2c3e50;
        opacity: .5;
      }
    }
  }
}
.active > a, .active > a:hover {
  background: none !important;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}

/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}