<!DOCTYPE html>
<html ng-app="schoolSpa_admin">
<head>
  <title>School</title>
  <link href='http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
  <link rel="stylesheet" href="http://fk.github.io/select2-bootstrap-css/css/select2-bootstrap.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <% if user_signed_in? and current_user.meta.class == Admin%>
       <%= javascript_include_tag 'spa/admin/app', 'data-turbolinks-track' => true %>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div ng-include src="'/assets/spa/admin/partials/navbar_top.html'" ng-controller="adminNavigation"></div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <div ng-include src="'/assets/spa/admin/partials/navigation.html'" ng-controller="adminNavigation"></div>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <%= yield %>
        </div>
      </div>
    </div>
</body>
</html>
