<!DOCTYPE html>
<html>
<head>
  <title>School</title>
  <link href='http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
</body>
</html>
