<!DOCTYPE html>
<html ng-app="schoolSpa_student">
<head>
  <title>School</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <% if user_signed_in? and current_user.meta.class == Student%>
      <%= javascript_include_tag 'spa/student/app', 'data-turbolinks-track' => true %>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div ng-include src="'/assets/spa/student/partials/navbar_top.html'" ng-controller="studentNavigation"></div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <div ng-include src="'/assets/spa/student/partials/navigation.html'" ng-controller="studentNavigation"></div>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <%= yield %>
        </div>
      </div>
    </div>
</body>
</html>
