<!DOCTYPE html>
<html ng-app="schoolSpa_teacher">
<head>
  <title>School</title>
  <link href='http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <% if user_signed_in? and  current_user.meta.class == Teacher %>
      <%= javascript_include_tag 'spa/teacher/app', 'data-turbolinks-track' => true %>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div ng-include src="'/assets/spa/teacher/partials/navbar_top.html'" ng-controller="teacherNavigation"></div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <div ng-include src="'/assets/spa/teacher/partials/navigation.html'" ng-controller="teacherNavigation"></div>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <%= yield %>
        </div>
      </div>
    </div>
</body>
</html>
